<div class="main message-index">
  <div class="container">
    <% @messages.each do |message|%>
        <div class="message-index-item">
        <%= message %>
        </div>
    <% end %>
  </div>
</div>
