<div class="main message-index">
  <div class="container">
    <% @messages.each do |message|%>
      <div class="message-index-item">
        <!-- TODO:プロフィール画像表示 -->
        <%= message.sent_user_id.nickname %>
        <%= message.content %>
        <%= message.created_at %>
      </div>
    <% end %>
  </div>
</div>
