<!-- 
<header>
  <div class="header-logo">
    <a href="/">TOBIRA</a>
  </div>
  <ul class="header-menus">
    <a href="/about">TOBIRAについて</a>
　</ul>
</header>
-->


<div class="main user-show">
  <div class="container">
    <div class="user">
      <!-- 以下で、プロフィール画像を出力してください -->
        
        
      <!-- 以下で、ユーザー名を出力してください -->
      <h2><%= @user.nickname %></h2>
      <!-- 以下で、エリアを出力してください -->
      <p><%= %></p>
      <!-- 以下で、いいねカウントを出力してください -->
      <p><%= %></p>
      
      <!-- 以下で、自己紹介を出力してください -->
      <textarea><%= @user.introduction%></textarea>
      
      <!-- 以下で、いいねボタンを出力してください -->
      
      <!-- 以下で、メッセージ送信ボタンを出力してください -->
      
    </div>
  </div>
</div>