<!-- 
<header>
  <div class="header-logo">
    <a href="/">TOBIRA</a>
  </div>
  <ul class="header-menus">
    <a href="/about">TOBIRAについて</a>
　</ul>
</header>
-->

<div class="about-main">
  <h2>TOBIRAとは</h2>
  <p>
    ホスト（エンジニア）がスキルを公開。プログラミング、webデザイン、サーバ構築 いろいろあり！
    
    ゲストは気になるホストをみつけて、いろいろなレッスンをうけてみよう！TOBIRAは新しいスキルを楽しむ場所です。
    
    登録者はゲストにもホストにもなれる！登録者同士がつながり仲間を増やし、どんどんスキルをふやしていこう！
  </p>
</div>