<!-- 
<header>
  <div class="header-logo">
    <a href="/">TOBIRA</a>
  </div>
  <ul class="header-menus">
    <a href="/about">TOBIRAについて</a>
　</ul>
</header>
-->


<div class="main top-main">
  <div class="top-message">
    <h2>技を通じて</h2>
    <h2>世界とつながる</h2>
  </div>
</div>